<section class="container mt-2">
  <div class="row g-3">
    <article class="col-12 col-md-6 col-lg-4" *ngFor="let user of arrUsers">
      <app-user-card [elUser]="user"></app-user-card>
    </article>
    <nav aria-label="pagenav" class="pb-5">
      <ul class="pagination">
        <li class="page-item">
          <button
            class="page-link"
            (click)="gotoPage(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            Previous
          </button>
        </li>
        <li class="page-item">
          <button
            class="page-link"
            (click)="gotoPage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>
