<section class="container mt-3 mb-5">
  <div class="card p-3">
    <div class="row g-0">
      <figure class="col-md-4">
        <img
          [src]="user?.image"
          [alt]="user?.first_name"
          class="img-fluid rounded-start"
        />
      </figure>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="fw-bold">
            {{ user?.first_name }}
          </h3>
          <h3 class="fw-bold">
            {{ user?.last_name }}
          </h3>
          <p><span class="fw-bold">User:</span> {{ user?.username }}</p>
          <p>
            <span span class="fw-bold">Email: </span>
            {{ user?.email }}
          </p>
          <div class="d-flex gap-4">
            <button
              (click)="
                confirmacion(user?._id, user?.first_name, user?.last_name)
              "
              class="btn btn-dark"
            >
              Eliminar
            </button>
            <button [routerLink]="['/update', user?._id]" class="btn btn-dark">
              Actualizar
            </button>
            <button [routerLink]="['/home']" class="btn btn-dark">
              Volver al listado
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
